<?xml version="1.0" encoding="UTF-8"?>
<!-- 
********************************************************************* 
** This is a placeholder and should be overridden from cloud config
** Its default values should work as a baseline, but updated logging
** levels should be altered in the cloud config files
** 
** This file is selected by setting: 
		-Dlogging.config=classpath:logback-logstash.xml 
*********************************************************************
-->

<configuration>
	<appender name="LOGSTASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>elk:4560</destination>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc />

				<context />

				<version />

				<logLevel />
				<loggerName />

				<pattern>
					<pattern>
						{
						"appName": "adapter-vba-corp"
						}
					</pattern>
				</pattern>

				<threadName />

				<message />

				<logstashMarkers />
				<arguments />

				<stackTrace />
			</providers>
		</encoder>
	</appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %level{5} %c{3} - %message%n</pattern>
        </encoder>
    </appender>
    <logger name="mdm" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </logger>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="LOGSTASH" />
	</root>
</configuration>
